gitPracticeSOAApplication/add/SOA/Schemas/addBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/gitPracticeSOAApplication/add/addBPEL"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="inputOne" type="string"/>
        <element name="inputTwo" type="string"/>
        <element name="inputThree" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>